<!--extends layout-->
<div class="page-header">
    <h3>Curate</h3>
</div>
<div style="width: 100%; position: relative;">
    <h2 ng-if="(!corruption_acts || corruption_acts.length == 0) && dataLoaded">Sin Resultados</h2>

    <ul rn-carousel
        ng-if="corruption_acts && (corruption_acts.length > 0)"
        class="image" style="width: 100%; height: 500px;" rn-carousel-controls>
        <li ng-repeat="act in corruption_acts">
            <md-card style="width: 700px; height: 400px;
                background-color: #29B1B0; color: white; margin: 0 auto;">
                <div layout="column">
                    <!-- Container for act information -->
                    <h1 style="padding-left: 25px; padding-right: 25px;">Título: {{ act.titulo }}</h1>
                    <p style="padding-left: 25px; padding-right: 25px;">Descripción: {{ act.resumen }}</p>

                    <!-- Container for references for the act -->
                    <h4 style="padding-left: 25px; padding-right: 25px;">Referencias de la denuncia</h4>
                    <div layout="row" style="padding-left: 25px; padding-right: 25px;">
                        <ul flex="70">
                            <li ng-repeat="ref in act.refs">
                                <a ng-href="{{ ref.url }}">{{ ref.titulo }}</a></li>
                        </ul>
                        <div flex></div>
                        <md-button class="md-raised" ng-click="editAct( act )">
                            Editar
                        </md-button>
                    </div>

                    <!-- Container for the vote of the information -->
                    <div style="background-color: #575757; padding: 25px; margin-top: 75px;">
                        <p>¿Esta información es confiable?</p>
                        <div layout="row" style="width: 200px; margin: 0 auto;">
                            <md-button class="md-raised" ng-click="actVoteNo( act )"
                                       style="background: red; color: white">
                                No
                            </md-button>
                            <md-button class="md-raised" ng-click="actVoteYes( act )"
                                       style="background: green; color: white">
                                Si
                            </md-button>

                        </div>

                    </div>

                </div>
            </md-card>
        </li>
    </ul>

</div>