<div class="page-header">
    <h3>¡Inicia sesión!</h3>
</div>
<form method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf"/>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <!--<a href="/auth/facebook" class="btn btn-block btn-facebook btn-social"><i-->
                <!--class="fa fa-facebook"></i>Inicia sesión con Facebook</a>-->

            <a class="btn btn-block btn-google btn-social" ng-click="onGoogleLogin()"><i
                class="fa fa-google-plus"></i>Inicia sesión con Google</a>
        </div>
    </div>
</form>