<!--extends layout-->
<br>
<h1>¡Bienvenido a Expendiente!</h1>
<p class="lead">El buscador libre de las artimañas de los políticos mexicanos...</p>
<hr/>
<div class="row">
    <div class="">
        <h2>Buscador</h2>

        <md-content layout="column" layout-padding>
            <md-input-container style="width: 100%">
                <label>Ingresa el nombre del político</label>
                <input type="text" ng-model="query">
            </md-input-container>

            <br>
            <md-button ng-click="search()">Search</md-button>
        </md-content>
    </div>

</div>